<a href="https://colab.research.google.com/github/dmenezesgabriel/datadriven/blob/master/_notebooks/2020_09_22_introducao_machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Introdução a Machine Learning

- title: "Introdução a Machine Learning"
- toc: false
- branch: master
- badges: true
- comments: true
- categories: ["Machine Learning"]
- image: ""
- hide: false

## Requerimentos

1. Crie uma conta no [Kaggle](https://www.kaggle.com/)
2. Va em **My Account**, então clique em **Create New API Token**
3. Um arquivo chamado **kaggle.json** será baixado. Crie uma pasta `Kaggle` em seu google drive, e faça o uploado do arquivo nela
4. Monte o seu drive para o notebook, executando o código abaixo e seguindo as instruções apresentadas

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

5. Execute o código abaixo para acessar sua chave de **API**

In [2]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"

6. Aponte seu diretório para a pasta `Kaggle/` criada anteriormente

In [3]:
# Changing the working directory
%cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [4]:
# Check the curent working directory
!pwd

/content/gdrive/My Drive/Kaggle

7. Vá para a url do  **Kaggle** que contenha o dataset desejado, clique nos 3 pontos no canto superior direito e selecione a opção `API Command`
8. Cole o comando na célula abaixo e execute!

In [5]:
!kaggle datasets download -d dansbecker/melbourne-housing-snapshot

Downloading melbourne-housing-snapshot.zip to /content/gdrive/My Drive/Kaggle
  0% 0.00/451k [00:00<?, ?B/s]
100% 451k/451k [00:00<00:00, 30.7MB/s]

- Você pode verificar o conteúdo baixado com o comando abaixo

In [6]:
!ls -lh

total 452K
-rw------- 1 root root   65 Sep 18 12:13 kaggle.json
-rw------- 1 root root 451K Sep 22 21:21 melbourne-housing-snapshot.zip

9. Descompacte os dados e delete os arquivos zipados

In [7]:
!unzip \*.zip && rm *.zip

Archive:  melbourne-housing-snapshot.zip
  inflating: melb_data.csv

In [8]:
!ls -lh

total 2.0M
-rw------- 1 root root   65 Sep 18 12:13 kaggle.json
-rw------- 1 root root 2.0M Sep 21  2019 melb_data.csv


## Árvore de decisão
As arvores de decisão são a base para muitos modelos mais complexos. De modo geral, na computacao, arvores ao estruturas dedados formados por um conjunto de nos, e estes nos armazenam informacoes.

Toda arvoe possui um no raiz, que possui o maior nivel hierarquico e a partir dele nascem as ramificacoes denominadas nos filhos. Os nos que nao possuem filhos sao conhecidos como no folha(leaf).

Em resumo, uma arvore de decisao armazena regras em seus nos e as folhas representam as decisoes a serem tomadas.

Exemplificando:
```sh
  Assistirei Netflix hoje?
  +--------^--------+
  Sim               Nao
   |                 |
  Dormirei tarde    Dormirei cedo
```

**Fitting** ou **Treinamento**: Decisão de como separar os dados em grupos, a partir de captura de padrões dos dados, para então prever o comportamento dos mesmos.

## Exploração de Dados (básica)

O primeiro passo é se familiarizar com os dados. Com a classe `DataFrame` da biblioteca **Pandas** podemos visualizar os dados de forma similar a uma tabela do **Excel** ou banco de dados relacional (SQL).

In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('melb_data.csv')

In [11]:
df.head()

       Suburb           Address  ...             Regionname Propertycount
0  Abbotsford      85 Turner St  ...  Northern Metropolitan        4019.0
1  Abbotsford   25 Bloomburg St  ...  Northern Metropolitan        4019.0
2  Abbotsford      5 Charles St  ...  Northern Metropolitan        4019.0
3  Abbotsford  40 Federation La  ...  Northern Metropolitan        4019.0
4  Abbotsford       55a Park St  ...  Northern Metropolitan        4019.0

[5 rows x 21 columns]

## Interpretando os dados

In [12]:
df.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  13580.000000  1.358000e+04  ...  13580.000000   13580.000000
mean       2.937997  1.075684e+06  ...    144.995216    7454.417378
std        0.955748  6.393107e+05  ...      0.103916    4378.581772
min        1.000000  8.500000e+04  ...    144.431810     249.000000
25%        2.000000  6.500000e+05  ...    144.929600    4380.000000
50%        3.000000  9.030000e+05  ...    145.000100    6555.000000
75%        3.000000  1.330000e+06  ...    145.058305   10331.000000
max       10.000000  9.000000e+06  ...    145.526350   21650.000000

[8 rows x 13 columns]

- **count**: mostra o numero de linhas com valores nao nulos.
- **mean**: e a media simples.
- **std**: o desvio padrao demonstra o quanto os dados estao espalhados em relacao a media.
- **min** & **max**: sao o menor e maior valor da amostra, respectivamente.
- **25%**, **50%** e **75%**: estes valores sao as representacoes dos percentis ou quartis. Imagine que voce ordenou todos os valores em order cresente, e se voce percorrer 1/4 da lista, voce chegara em um numero que e maior que os 25% anteriores, ou seja, 25% das ocorrencias do conjunto de dados chegam ate este valor. Se andarmos mais 25%, encontraremos a mediana, onde entao ate 50% dos dados estao abaixo do valor ncontrado. Podmos utilizar essa medida estatistica para detectar anomalias, por exemplo, olhando para 0.99 percentil, ate 99% dos casos estao abaixo desse valor, se os 1% acima distoarem muito dele, as vezes podem ser considerados como valores anomalos.

#### Qual a idade da casa constuida mais recentemente?

In [13]:
from datetime import datetime

# Age of the most recent builded home
datetime.now().today().year - df.YearBuilt.max()

2.0

Quais conclusoes podemos tirar?
- Nao foram construidas novas casas desde que os dados foram coletados
- Os dados podem nao ser tao recentes

#### Qual e o tamanho medio do terreno?

In [14]:
df.BuildingArea.mean()

151.96764988779805

## Selecionando dados para modelagem

In [15]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [16]:
df.isnull().values.any()

True

_Os dads possuem valores nulos, entao optaremos pelo caminho mais simples neste primeiro momento e droparemos os valores nulos_

In [17]:
df = df.dropna(axis=0)

In [18]:
df.isnull().values.any()

False

### Selecionando a informacao para predicao

In [19]:
y = df.Price

### Escolhendo features

As colunas que sao inseridas em nosso modelo, e posteriormente serao utilizadas em nosso modelo sao chamadas de **features**.

In [20]:
features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

_por convencao as features sao chamadas de x_

In [21]:
X = df[features]

Verificando se os dados fazem sentido

In [22]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [23]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

## Construindo o modelo

Os principais passos na construcao de um modelo sao:

1. **Definir** qual tipo de modelo sera utilizado.

In [24]:
from sklearn.tree import DecisionTreeRegressor

# Model definition
# The specification of random_state ensure same results on each run
model = DecisionTreeRegressor(random_state=1)

2. **Treinar**, ou seja, capturar padroes presentes nos dados.

In [25]:
# Fit model
model.fit(X, y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=1, splitter='best')

3. **Prever**

Utilizando o comando `.head()` preveremos os primeiros 5 items do DataFrame

In [26]:
print(X.head())
model.predict(X.head())

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

array([1035000., 1465000., 1600000., 1876000., 1636000.])

4. **Avaliar** a precisao das predicoes do modelo.

### Avaliar a assertividade do modelo

A forma mais fácil é gerar uma métrica única, como a média do valor absoluto dos erros.

_erro = atual - predição_

In [29]:
from sklearn.metrics import mean_absolute_error

predicted_prices = model.predict(X)
mean_absolute_error(y, predicted_prices)

1115.7467183128902

O ideal é que não seja utilizado o mesmo conjunto de dados para treinamento e avaliação do modelo. Caso sejam utilizados as mesmas amostras o modelo parecerá preciso, mas pode estar enviesado com base nos dados do treinamento, e assim que aplicado a novos conjuntos de dados não trará resultados assertivos.

Para resolver esse problema é possível separar os dados em dois conjuntos, um para treino e outro para validação.

In [30]:
from sklearn.model_selection import train_test_split

# Splitting data into training and validation sets for both features and target
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

# Define model
model = DecisionTreeRegressor()

# Fit model
model.fit(train_X, train_y)

# Get predicted prices
val_predicitions = model.predict(val_X)
print(mean_absolute_error(val_y, val_predicitions))

275105.4945125888